.menu {
  min-width: 350px;
  background-color: #333;
  height: 100vh;
}

.menu__cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;

  height: 70px;
  margin-bottom: 10px;
  
  background-color: #555;
}

.menu__cabecalho svg {
  width: 35px;
  height: 35px;
}

/* .menu__cabecalho svg:hover {
  cursor: pointer;
} */

.menu__titulo {
  padding: 10px 5px;
  font-size: 19px;
}

.menu__itens {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 7px;
}

.menu__item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
}

.menu__item svg {
  width: 25px;
  height: 25px;
}

.menu__item:hover {
  color-scheme: dark;
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.menu__item-ativo {
  background-color: #888;
}

.conteudo {
  width: 100%;
  height: 100vh;
}